<header class="page-heading">
	<a class="back" href="/" title="Aller à l'accueil"><ek-icon icon="arrow-left"></ek-icon></a>

	<div class="page-cover">
		{{#if cover}}
		<img src="{{cover}}">
		{{/if}}
	</div>

	<div class="page-header">
		<h1 class="page-title">{{title}}</h1>
		<ul class="page-metadata">
			{{#each meta.tags}}
				<li class="tag"><ek-icon icon="{{icon}}">{{{iconSVG icon}}}</ek-icon> {{display}}</li>
			{{/each}}
			<span class="separator"></span>
			{{#if meta.author}}
				<li class="author">Par {{meta.author}}</li>
			{{/if}}
			{{#if meta.date}}
				<li class="date"><ek-icon icon="clock">{{{iconSVG "clock"}}}</ek-icon> {{longDate meta.date}}</li>
			{{/if}}
		</ul>
	</div>

</header>

<!-- Actual page content -->
<div class="page-content">{{{content}}}</div>

<footer class="page-footer">

	<a class="button" href="{{url}}.md" >Télécharger la source</a>

	<div class="license"><a href="https://creativecommons.org/licenses/by-nc/3.0/fr/">License Creative Common BY NC</a></div>

</footer>