<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

{{#with feed}}
 <title>{{title}}</title>
 {{#if subtitle}}<subtitle>{{subtitle}}</subtitle>{{/if}}
 <link href="{{url}}/"/>
 <updated>{{isodate lastUpdated}}</updated>
{{/with}}

{{#each articles}}
 <entry>
   <title>{{title}}</title>
   <link rel="alternate" href="{{../feed.url}}/{{href}}"/>
   <id>{{../feed.url}}/{{href}}</id>
   <updated>{{isodate meta.date}}</updated>
   <summary>{{abstract}}</summary>
   <content type="html">{{{htmlContent}}}</content>
   {{#if meta.author}}
   <author>
  	<name>{{meta.author}}</name>
   </author>
   {{/if}}
   {{#each meta.tags}}
   <category term="{{name}}" label="{{display}}"/>
   {{/each}}
 </entry>
{{/each}}

</feed>