<a class="article-card featured-article" href="{{href}}">

  {{#if meta.cover}}
    <img class="cover" loading="lazy" src="{{meta.cover}}"/>
  {{/if}}

  <div class="content">

    <h2 class="title" >{{title}}</h2>

    <p class="abstract" >{{abstract}}</p>

    <ul class="meta">
      {{#if meta.author}}
        <li class="author">Par {{meta.author}}</li>
      {{/if}}
      {{#if meta.date}}
        <li class="date"><ek-icon icon="clock">{{{iconSVG "clock"}}}</ek-icon> {{longDate meta.date}}</li>
      {{/if}}
      <span class="separator"></span>
      {{#each meta.tags}}
        <li class="tag"><ek-icon icon="{{icon}}">{{{iconSVG icon}}}</ek-icon> {{display}}</li>
      {{/each}}
    </ul>

  </div>

</a>